/*General*/
button {
  padding-top: 7px;
}
button:hover {
  cursor: pointer;
}
body {
  color: #333;
  font-size: 1rem;
  line-height: 1.375;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*TopBar Component*/
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
}
.redfinLogoBtn {
  border: none;
  background-color: white;
  padding-left: 0%;
  padding-top: 0%;
}
.redfinLogoBtn:focus {
  outline: none;
}
.redfinLogoPic {
  width: 125px;
  height: 40px;
}
.redfinSearchContainer {
  border: none;
  width: '40px';
  height: '40px';
  border-radius: '4px';
  display: flex;
  flex-direction: row;
}
.searchInputBar {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(231, 231, 231);
  width: 250px;
  height: 35px;
}
.searchInputBar::placeholder {
  color: #c4c4c4;
}
.searchBtn {
  color: white;
  font-size: 16px;
  width: 40px;
  height: 39px;
  border: none;
  border-radius: 0 2px 2px 0;
  background-color: #c82021;
}
.searchBtn:hover {
  background: rgb(243, 47, 47);
}
.menuButtonBox {
  display: flex;
  flex-direction: row;
  width: 700px;
  justify-content: space-evenly;
}
.menuButton {
  color: gray;
  border: none;
  background-color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial;
}
.menuButton:focus, .menuButton:hover {
  outline: none;
  color: black;
  cursor: pointer;
}
.menuBtnsWithDrops {
  color: gray;
  border: none;
  background-color: white;
  padding-top: 15px;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial;
}
.menuBtnsWithDrops:focus, .menuBtnsWithDrops:hover {
  outline: none;
  color: black;
  cursor: pointer;
}
.dropMenuContents {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  max-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  white-space: normal;
}
.dropMenuContents button {
  border: none;
  background-color: white;
  color: #969696;
  padding: 12px 16px;
  text-align: left;
}
.menuBtnsWithDrops:hover .dropMenuContents {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  overflow: auto;
}
.dropMenuContents button:hover {
  background-color: rgb(236, 234, 234);
}
.dottedLine {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
}
.accountLogo {
  color: lightgray;
  padding-top: 7px;
  font-size: 26px;
}
/*House Component Pieces*/
  /* Top */
.topOfHouseDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
}
.smallerHomeBox{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.homeBox {
  display: flex;
  flex-direction: row;
}
.homeIcon {
  color: white;
  text-align: center;
  font-size: 20px;
  width: 30px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 4px;
  box-shadow: 2px 1px 2px 1px #969696;
}
.houseAddress {
  display: flex;
  flex-direction: column;
  padding-left: 7px;
  font-size: 18px;
  font-weight: bold;
}
.biggerDataBox {
  display: flex;
  flex-direction: column;
}
.bigDataBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 260px;
  height: 40px;
  padding-bottom: 3px;
}
.lilDataBox {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: lightgray;
  padding-right: 5px;
}
.sqFtBox {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.lilDataBoxR {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.dataLabel {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: rgb(66, 66, 66);
  font-weight: normal;
}
.socialBtnsBigBox {
  display: flex;
  flex-direction: column;
}
.socialBtnsContainer {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.socialBtns {
  background-color: white;
  width: 58px;
  height: 40px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  color: darkslategrey;
}
.socialBtns:hover {
  background-color: lightgray;
}
.socialBtns:focus {
  outline: none;
}
.socialHeartBtn {
  background-color: white;
  width: 58px;
  height: 40px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  color: darkslategrey;
}
.socialHeartBtn:hover {
  background-color: lightgray;
}
.socialHeartBtn:focus {
  color: red;
  outline: none;
}
/* Bottom */
.socialBtnLabels {
  font-size: 14px;
  font-weight: lighter;
  color: rgb(66, 66, 66);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 170px;
}
.statusBtn {
  font-size: 14px;
  font-family: Libre Franklin;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  color: rgb(66, 66, 66);
  font-weight: normal;
  background-color: white;
  border: none;
  border-bottom-style: dotted;
  border-bottom-width: 2px;
  border-color: darkslategrey;
}
.statusBtn:focus {
  outline: none;
}
.statusLabel {
  font-size: 14px;
  padding-left: 7px;
  font-family: Libre Franklin;
  -webkit-font-smoothing: antialiased;
  color: rgb(66, 66, 66);
  font-weight: normal;
}
.middleBottomData {
  font-size: 14px;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 50px;
}
/*BottomBar Component*/
.bottomBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 10px;
}